.botao{
    display: flex;
    border: 1px solid  rgba(46, 46, 46, 0.501);;
    background-color: rgba(33, 33, 33, 0.282);
    font-family: var(--font-corpo-geral);
    padding: 0.4rem;
    border-radius: 8px;
    color: var(--cor-preto);
}


